*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.main{
    background-color: transparent;
    height: 460px;
    width: 460px;
    border: 20px solid white;
    display: grid;
    grid-template-rows: repeat(21,1fr);
    grid-template-columns: repeat(21,1fr);
    gap: 0px;
}

.main div{
    background-color: white;
    width: 20px;
    height: 20px;
    /* border: 1px solid; */
}

.main .class-1 ,
.main .class-2,
.main .class-3,
.main .class-4,
.main .class-5,
.main .class-6,
.main .class-7,
.main .class-9,
.main .class-13,
.main .class-15,
.main .class-16,
.main .class-17,
.main .class-18,
.main .class-19,
.main .class-20,
.main .class-21,
.main .class-22,
.main .class-28,
.main .class-36,
.main .class-42,
.main .class-43,
.main .class-49,
.main .class-51,
.main .class-55,
.main .class-57,
.main .class-59,
.main .class-60,
.main .class-61,
.main .class-63,
.main .class-45,
.main .class-46,
.main .class-47,
.main .class-64,
.main .class-66,
.main .class-67,
.main .class-68,
.main .class-70,
.main .class-74,
.main .class-78,
.main .class-80,
.main .class-81,
.main .class-82,
.main .class-84,
.main .class-85,
.main .class-87,
.main .class-88,
.main .class-89,
.main .class-91,
.main .class-93,
.main .class-94,
.main .class-95,
.main .class-97,
.main .class-99,
.main .class-101,
.main .class-102,
.main .class-103,
.main .class-105,
.main .class-106,
.main .class-112,
.main .class-115,
.main .class-117,
.main .class-118,
.main .class-120,
.main .class-126,
.main .class-127,
.main .class-128,
.main .class-129,
.main .class-130,
.main .class-131,
.main .class-132,
.main .class-133,
.main .class-135,
.main .class-137,
.main .class-139,
.main .class-141,
.main .class-142,
.main .class-143,
.main .class-144,
.main .class-145,
.main .class-146,
.main .class-147,
.main .class-156,
.main .class-159,
.main .class-158,
.main .class-175,
.main .class-174,
.main .class-179,
.main .class-180,
.main .class-181,
.main .class-183,
.main .class-185,
.main .class-187,
.main .class-189,
.main .class-206,
.main .class-207,
.main .class-208,
.main .class-227,
.main .class-228,
.main .class-229,
.main .class-230,
.main .class-248,
.main .class-249,
.main .class-250,
.main .class-270,
.main .class-291,
.main .class-272,
.main .class-273,
.main .class-293,
.main .class-314,
.main .class-356,
.main .class-398,
.main .class-440,
.main .class-399,
.main .class-332,
.main .class-333,
.main .class-334,
.main .class-353,
.main .class-355,
.main .class-376,
.main .class-395,
.main .class-417,
.main .class-418,
.main .class-434,
.main .class-435,
.main .class-436,
.main .class-437,
.main .class-413,
.main .class-414,
.main .class-415,
.main .class-392,
.main .class-393,
.main .class-371,
.main .class-391,
.main .class-432,
.main .class-430,
.main .class-409,
.main .class-389,
.main .class-367,
.main .class-369,
.main .class-421,
.main .class-422,
.main .class-423,
.main .class-424,
.main .class-425,
.main .class-426,
.main .class-427,
.main .class-381,
.main .class-382,
.main .class-383,
.main .class-360,
.main .class-361,
.main .class-362,
.main .class-339,
.main .class-340,
.main .class-341,
.main .class-295,
.main .class-296,
.main .class-297,
.main .class-298,
.main .class-299,
.main .class-300,
.main .class-301,
.main .class-316,
.main .class-322,
.main .class-337,
.main .class-343,
.main .class-358,
.main .class-364,
.main .class-379,
.main .class-385,
.main .class-400,
.main .class-406,
.main .class-324,
.main .class-190,
.main .class-192,
.main .class-194,
.main .class-197,
.main .class-199,
.main .class-201,
.main .class-202,
.main .class-204,
.main .class-225,
.main .class-221,
.main .class-222,
.main .class-223,
.main .class-224,
.main .class-211,
.main .class-212,
.main .class-213,
.main .class-214,
.main .class-215,
.main .class-216,
.main .class-217,
.main .class-218,
.main .class-219,
.main .class-232,
.main .class-233,
.main .class-254,
.main .class-236,
.main .class-237,
.main .class-257,
.main .class-259,
.main .class-240,
.main .class-242,
.main .class-243,
.main .class-244,
.main .class-261,
.main .class-262,
.main .class-265,
.main .class-267,
.main .class-266,
.main .class-282,
.main .class-283,
.main .class-284,
.main .class-285,
.main .class-288,
.main .class-304,
.main .class-305,
.main .class-306,
.main .class-308,
.main .class-310,
.main .class-326,
.main .class-327,
.main .class-328,
.main .class-329,
.main .class-349
{
    background-color: black;
}

